@import url("../../../index.css");

/* :root {
    --block-user-button: rgb(243, 99, 99);
    --block-user-button-text: rgba(236, 104, 104, 0.8);
    --block-user-button-hover: rgba(192, 78, 78);
    --logout-button: rgba(92, 129, 197, 0.8);
    --logout-button-hover: rgb(78, 105, 192);
 } */

.details {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 100%;

    .details__user {
        padding: var(--padding-stardard);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap-stardard);

        border-bottom: 1px solid var(--secondary-color);

        img {
            width: 100px;
            height: 100px;

            border-radius: 50%;
            object-fit: cover;
        }
    }

    .details__options {
        /* flex: 1; */

        padding: var(--padding-stardard);

        display: flex;
        flex-direction: column;
        gap: var(--gap-stardard);

        .details__option {

            .details__option__title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                > * {
                    cursor: pointer;
                }
            }

            .details__option__photo__list::-webkit-scrollbar {
                width: 8px;
            }
            
            .details__option__photo__list::-webkit-scrollbar-thumb {
                background-color: var(--terceary-color); 
                border-radius: 4px; 
            }
            
            .details__option__photo__list {
                display: flex;
                flex-direction: column;
                gap: var(--gap-stardard);

                overflow-y: auto;

                max-height: 278.5px;

                .details__option__photos__list__item {
                    margin-top: 15px;
                    margin-left: 15px;
                    
                    max-width: 90%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .details__option__photos__list__item__details {
                        display: flex;
                        align-items: center;
                        gap: var(--gap-stardard);

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span {
                            font-size: 14px;
                            color: rgb(202, 202, 202);
                        }
                    }
                }
            }
        }
        
        button  {
            padding: 10px 20px;
    
            background-color: transparent;
            /* color: var(--block-user-button-text); */
            color: var(--block-user-button);
    
            border: 1px solid var(--block-user-button);
            border-radius: 5px;
    
            cursor: pointer;
            
            transition: all 0.2s ease-in-out;
            
            &:hover {
                background-color: var(--block-user-button-hover);
                color: white;
                border: 1px solid var(--block-user-button-hover);
            }
        }
    }

    .details__logout {
        padding: 25px var(--padding-stardard);
        margin-top: auto;

        display: flex;
        flex-direction: column;

        border-top: 1px solid var(--secondary-color);

        button  {
            padding: 10px 20px;

            background-color: var(--logout-button);
            color: white;

            border: none;
            border-radius: 5px;

            cursor: pointer;
            
            transition: all 0.2s ease-in-out;
            
            &:hover {
                background-color: var(--logout-button-hover);
            }
        }
    }
}